.button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 7px;
    background-color: rgb(67, 230, 230);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.button:hover,
button:focus {
    background-color: rgb(5, 141, 253);
}

.list{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width: 245px;
    font-size: 19px;
}